{% extends 'default.twig' %}

{% block content %}
    <div class="col d-flex justify-content-center">
        <div class="">
            <h1>404</h1><br>
            <p>Desculpe-nos mas a página desejada não está disponível.</p>
        </div>
    </div>
{% endblock %}