{% extends "default.twig" %}

{% block content %}

    <div class="row">
        <div class="col text-center">
            <h1>Sobre a empresa</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <div class="text-center">
                <img src="https://placekitten.com/600/400" class="rounded img-fluid" alt="...">
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <h4>Invista com segurança junto a MLLR Investimentos!</h4>
                </div>
            </div>

            <div class="row">
                <div class="col text-justify">
                    <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <h3>A equipe</h3>
        </div>
    </div>

    <div class="row"> 
        <div class="col-3">
            <div class="card">
                <img src="img/profiles/rafael.jpg" class="card-img-top" alt="...">
                <div class="card-body text-justify">
                    <h5 class="card-title">Rafael Nunes</h5>
                    <h6 class="text-black-50">CEO</h6>
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <div class="card">
                <img src="img/profiles/larissa.jpg" class="card-img-top" alt="...">
                <div class="card-body text-justify">
                    <h5 class="card-title">Larissa Vidal</h5>
                    <h6 class="text-black-50">Analista de investimentos</h6>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img src="img/profiles/luiz.jpg" class="card-img-top" alt="...">
                <div class="card-body text-justify">
                    <h5 class="card-title">Luiz Brey</h5>
                    <h6 class="text-black-50">Analista de investimentos</h6>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img src="img/profiles/marcos.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-justify">
                    <h5 class="card-title">Marcos dos Anjos</h5>
                    <h6 class="text-black-50">CTO</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 