{% extends 'default_admin.twig' %}

{% block content %}
    <h4>Bem vindo, administrador {{ name }} </h4>

    <p>
    Aqui dentro você pode administrar dois tipos de entidades dentro do sistema, a primeira são os usuários
    e a segunda são os ativos. 
    </p>
{% endblock %}