{% extends "default_admin.twig" %}

{% block content %}
<div class="row align-items-center">
    <div class="col">
        <div id="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>EMPRESAS</h1>
        <p>
            Nesta seção você pode editar ou cadastrar empresas. Para cadastrar basta clicar no botão de cadastro e 
            para editar ou remover empresa basta clicar no botão editar correspondente à empresa escolhida.
        </p>
        <div style="overflow: auto; height:80%">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">CÓDIGO</th>
                        <th scope="col">NOME</th>
                        <th scope="col">SÍMBOLO</th>
                        <th scope="col">AÇÃO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr class="text-center">
                        {% for k, v in company %}
                            {% if k != "COMPANY_INFO" %}
                            <td>{{ v }}</td>
                            {% endif %}
                        {% endfor %}
                        
                        <td>
                          <a href="admin/stock/{{ company['COMPANY_PK'] }}"class="btn btn-light"><i class="fa fa-edit"></i> EDITAR</a>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md text-right mt-5"> 
    <button type="button"  class="btn btn-success"  data-toggle="modal" data-target="#modal-company">
      <i class="fa fa-plus"></i> CADASTRAR EMPRESA
  </button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-company">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="overflow: auto; height:500px">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro de empresas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form method="post" action="/admin/stock/new" spellcheck="false">
        <div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name"  placeholder="Vale" required>
            </div>
            <div class="form-group">
                <label for="symbol">Símbolo</label>
                <input type="text" class="form-control" name="symbol" placeholder="VALE" required>
            </div>
            <div class="form-group">
               <label>Informações</label>
               <textarea class="form-control" name="info" placeholder="Informações" required></textarea>
           </div>
           <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">CADASTRAR</button>
        </div>
        
    </form> 
</div>
</div>
</div>
</div>

{% endblock %}