{% extends "default_internal.twig" %}

{% block content %}


<div class="row align-items-center">
    <div class="col">
        <div id="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="col text-center">
            <h1>Lista de empresas</h1>
        </div>
        <div style="overflow: auto; height:300px">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Informações</th>
                        <th scope="col">Símbolo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr class="text-center">
                        {% for k, v in company %}
                        <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md text-right"> 
    <button type="button"  class="btn btn-success"  data-toggle="modal" data-target="#modal-company">
      <i class="fa fa-user-plus"></i> CADASTRAR EMPRESA
  </button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-company">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="overflow: auto; height:500px">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro de empresas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form method="post" action="company" spellcheck="false">
        <div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name"  placeholder="Vale" required>
            </div>
            <div class="form-group">
                <label for="symbol">Símbolo</label>
                <input type="text" class="form-control" name="symbol" placeholder="VALE" required>
            </div>
            <div class="form-group">
               <label>Informações</label>
               <textarea name="info" cols="30" rows="7" class="form-control" placeholder="Informações" required></textarea>
           </div>
           <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">CADASTRAR</button>
        </div>
        
    </form> 
</div>
</div>
</div>
</div>



{% endblock %}