{% extends "default_internal.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        var data = [
            {
                values: [
                    30, 70
                ],
                labels: [
                    'Valor em Carteira', 'Valor em Ativos'
                ],
                domain: {
                    column: 0
                },
                name: 'Carteira',
                hoverinfo: 'label+percent+name',
                hole: .7,
                type: 'pie'
            }, {
                values: [
                    50, 10, 5, 5, 30
                ],
                labels: [
                    'Petrobas', 'Uber', 'Google', 'Facebook', 'Spotify'
                ],
                domain: {
                    column: 1
                },
                name: 'Ativos',
                hoverinfo: 'label+percent+name',
                hole: .7,
                type: 'pie'
            }
        ];

        var layout = {
            title: 'Minha Carteira',
            grid: {
                rows: 1,
                columns: 2
            },
            showlegend: false,
            annotations: [
                {
                    font: {
                        size: 14
                    },
                    showarrow: false,
                    text: 'CARTEIRA',
                    x: 0.,
                    y: 0.5
                }, {
                    font: {
                        size: 14
                    },
                    showarrow: false,
                    text: 'ATIVOS',
                    x: 0.8,
                    y: 0.5
                }
            ]
        };

        Plotly.newPlot('myDiv', data, layout, {showSendToCloud: true});
    </script>
{% endblock %}
