{% extends "default.twig" %}

{% block content %}

<div class="row align-items-start">
	<div class="col">
		<h2>O que são ações?</h2>	
		<p>Ações representam uma fração do capital<br>
social de uma empresa. Ao comprar uma ação<br>
o investidor se torna sócio da empresa, ou<br>
seja, de um negócio. Passa a correr os riscos<br>
deste negócio bem como participa dos lucros<br>
e prejuízos como qualquer empresário.</p>
<a href="">Saiba mais</a>
	</div>
	<div class="col">
			<img src="assets/img/invest1.png">
	</div>

<div class="row align-items-center">

<div class="col">
	<img src="assets/img/invest2.png" width="505", height="319">
	</div>
	<div class="col">
		<h2>Como ganhar dinheiro com ações?</h2>
		<p>Ações representam uma fração do capital<br>
social de uma empresa. Ao comprar uma<br>
ação o investidor se torna sócio da empresa,<br>
ou seja, de um negócio. Passa a correr os</p>
<a href="">Saiba mais</a>
			
	</div>
<div class="row align-items-center">
	<div class="col">
		<h2>Qual ação devo comprar?</h2>	
		<p>Existem uma série de técnicas e<br>
metodologias que você poderá utilizar.<br>
Dentre as mais famosas estão a Análise<br>
Fundamentalista, que olha as perspectivas<br>
para o médio e longo prazos procurando<br>
identificar o potencial de crescimento de<br>
lucros futuros, a Análise Técnica analisa o<br>
comportamento de preços com base em<br>
estudos...<br>
<a href="">Saiba mais</a>
	</div>
	<div class="col-5">
			<img src="assets/img/invest3.png">
	</div>

{% endblock %}