{% extends "default.twig" %}

{% block content %}

<div class="row align-items-start">
	<div class="col-md">
		<h2>O que são ações?</h2>	
		<p>Ações representam uma fração do capital social de uma empresa. Ao comprar uma ação o investidor se torna sócio da empresa, ou seja, de um negócio. Passa a correr os riscos deste negocio bem como participa dos lucros e prejuízos como qualquer empresário
		</p>
<u>Saiba mais</u>
	</div>
	<div class="col-md">
			<img src="assets/img/invest1.png">
	</div>

<div class="row align-items-center">

<div class="col">
	<img src="assets/img/invest2.png">
	</div>
	<div class="col-md">
		<h2>Como ganhar dinheiro com ações?</h2>
		<p>Ações representam uma fração do capital social de uma empresa. Ao comprar uma ação o investidor se torna sócio da empresa, ou seja, de um negócio. Passa a correr os</p>
<u>Saiba mais</u>
			
	</div>
<div class="row align-items-center">
	<div class="col-md">
		<h2>Qual ação devo comprar?</h2>	
		<p>Existem uma série de técnicas e metodologias que você poderá utilizar. Dentre as mais famosas estão a Análise Fundamentalista, que olha as perspectivas para o médio e longo prazos procurando identificar o potencial de crescimento de lucros futuros, a Análise Técnica analisa o comportamento de preços com base em estudos...
		</p>
<u>Saiba mais</u>
	</div>
	<div class="col-md">
			<img src="assets/img/invest3.png">
	</div>

{% endblock %}