{% extends "default_internal.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div id="graph"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col">
                    <h1>EXTRATO DE CONTA</h1>
                </div>
                <div style="overflow: auto; height: 300px">
                    <table class="table table-striped">
                        <thead>
                            <tr class = "text-center">
                                <th scope="col">Data</th>
                                <th scope="col">Ativo</th>
                                <th scope="col">R$</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                {% for k, v in report %}
                                    <tr class = "text-center">
                                    <td>{{ v.DATA }}</td>
                                    <td>{{ v.NOME }}</td>
                                    <td>{{ v.VALOR }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row-reverse mt-3">
        {% if report %}
            <a href="{{ report.url }}" class="btn btn-primary">BAIXAR RELATÓRIO</a>
        {% else %}
            <form action="/internal/report" method="get">
                <input type="submit" class="btn btn-dark" name="" value="GERAR RELATÓRIO">
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        
    </script>
{% endblock %}
