{% extends "default_internal.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div id="chart"><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col text-center">
                    <h1>Histórico de Compras dos Ativos</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">R$</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>19/04/2019</td>
                            <td>Vale</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>25/04/2019</td>
                            <td>Uber</td>
                            <td>2.500</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>01/05/2019</td>
                            <td>Spotify</td>
                            <td>750.00</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>24/06/2019</td>
                            <td>Instagran</td>
                            <td>3.590</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var trace1 = {
            x: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            y: [
                1001,
                1400,
                2525,
                1656,
                128,
                2288,
                0,
                0,
                0,
                0,
                0,
                0
            ],
            type: 'bar',
            name: 'Primary Product',
            marker: {
                color: 'rgb(49,130,189)',
                opacity: 0.7
            }
        };


        var data = [trace1];

        var layout = {
            title: 'Ativos 2019',
            xaxis: {
                tickangle: -45
            },
            barmode: 'group'
        };

        Plotly.newPlot('chart', data, layout);
    </script>
{% endblock %}
