{% extends "default_internal.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div id="chart"><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col text-center">
                    <h1>Histórico de Compras dos Ativos</h1>
                </div>
                <div style="overflow: auto; height:200px">
                <table class="table table-striped">
                    <thead>
                        <tr class = "text-center">
                            <th scope="col">Data</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">R$</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                            {% for k, v in report %}
                                <tr class = "text-center">
                                    <td>{{ v.DATA }}</td>
                                    <td>{{ v.NOME }}</td>
                                    <td>{{ v.VALOR }}</td>
                                    </tr>
                                {% endfor %}
                        </tr>
                            
                        
                    </tbody>
                </table>
            </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var trace1 = {
            x: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            y: [
                1001,
                1400,
                2525,
                1656,
                128,
                2288,
                0,
                0,
                0,
                0,
                0,
                0
            ],
            type: 'bar',
            name: 'Primary Product',
            marker: {
                color: 'rgb(49,130,189)',
                opacity: 0.7
            }
        };


        var data = [trace1];

        var layout = {
            title: 'Ativos 2019',
            xaxis: {
                tickangle: -45
            },
            barmode: 'group'
        };

        Plotly.newPlot('chart', data, layout);
    </script>
{% endblock %}
