{% extends "default.twig" %}

{% block content %}
    <style>
        /** Fix the position of the checkbox (gambi) */
        label.custom-control-label::before {
            top: .10rem !important;
        }
        label.custom-control-label::after {
            top: .15rem !important;
        }
    </style>

    <div class="row">
        <div class="col-md-5">
            <form method="post" action="sign_up" spellcheck="false">
                <div id="first">
                    <div class="form-group">
                        <label for="name">Nome completo</label>
                        <input type="text" class="form-control" name="name"  placeholder="Fulano de Tal" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Endereço de e-mail</label>
                        <input type="email" class="form-control" name="email"  placeholder="fulano@outlook.com" required>
                        <small class="form-text text-muted">Nós jamais compartilharemos o seu email com outras pessoas.</small>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" name="cpf" placeholder="015.868.265-90" required>
                    </div>
                    <div class="form-group">
                        <label for="birth">Data de nascimento</label>
                        <input type="date" class="form-control" name="birth" placeholder="Digite a sua data de nascimento" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefone celular</label>
                        <input type="tel" class="form-control" name="phone" placeholder="(99) 9 9999-9999" title="Coloque as informações de acordo com o padrão mostrado" required>
                    </div>
                    <div class="form-group text-right">
                        <button id="next" class="btn btn-primary">PROSSEGUIR</button>
                    </div>
                </div>

                <div id="second" style="display:none">
                    <div class="form-group" >
                        <label for="username">Nome de Usuário</label>
                        <input type="text" class="form-control" name="username"  placeholder="Escolha um nome de usuário bem legal!" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" name="password"  placeholder="Frase grande mais caracteres especiais será ótimo!" required>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox text-right text-sm">
                            <small><input type="checkbox" class="custom-control-input" id="tos" required>
                            <label class="custom-control-label text-muted" for="tos">Aceito os <a href="TOS" data-toggle="modal" data-target="#tos-modal">TERMOS E CONDIÇÕES DE USO</a> da plataforma</label></small>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button id="back" class="btn btn-light">VOLTAR</button>
                        <button type="submit" class="btn btn-primary">CRIAR CONTA</button>
                    </div>
                </div>
            </form> 
        </div>

        <div class="col-md-7">
            <div class="row"> 
                <div class="col">
                    <img src="assets/img/icons/locker.svg" class="rounded img-fluid w-25 float-right" alt="...">
                </div>
                <div class="col">
                    <div class="row"> 
                        <h4> Segurança para Investir </h4>
                    </div>
                    <div class="row"> 
                        <p class="text-justify">
                            Várias opções com proteção do FGC. Invista com tranquilidade.
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="row"> 
                <div class="col">
                    <img src="assets/img/icons/users.svg" class="rounded img-fluid w-25 float-right" alt="...">
                   
                </div>
                <div class="col">
                    <div class="row"> 
                        <h4> Suporte Diário </h4>
                    </div>
                    <div class="row"> 
                        <p class="text-justify">
                            Time de analistas dedicado a auxiliar em suas operações.
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="row"> 
                <div class="col">
                    <img src="assets/img/icons/growth.svg" class="rounded img-fluid w-25 float-right" alt="...">
                   
                </div>
                <div class="col">
                    <div class="row"> 
                        <h4> Melhor Custo X Benefício </h4>
                    </div>
                    <div class="row"> 
                        <p class="text-justify">
                            Para o trader que opera frequentemente.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tos-modal" tabindex="-1" role="dialog" aria-labelledby="TOS" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tos-title">TERMOS E CONDIÇÕES DE USO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="pt-2 mt-3 text-right">
                            <button class="btn btn-success" data-dismiss="modal" id="tos-confirm">ACEITO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <script src="assets/js/form.js"></script>   
{% endblock %}