{% extends "default_internal.twig" %}

{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img alt="Imagem de capa do card" class="card-img-top" src="assets/img/contato.png">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                        <a class="btn btn-outline-secondary" href="#">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img alt="Imagem de capa do card" class="card-img-top" src="assets/img/contato.png">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                        <a class="btn btn-outline-secondary" href="#">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img alt="Imagem de capa do card" class="card-img-top" src="assets/img/contato.png">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                        <a class="btn btn-outline-secondary" href="#">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
