{% extends "default_internal.twig" %}

{% block content %}
        <div class="col-md">
            {% for company in companies %}
            <div class="row">
                <div class="card w-100 mb-3">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">{{ company['COMPANY_SYMBOL'] }}</h5>
                        <p class="card-text">{{ company['COMPANY_INFO'] | length > 50 ? company['COMPANY_INFO'] | slice(0, 50) ~ '...' : company['COMPANY_INFO'] }}</p>
                        <div class="text-right">
                            <a class="btn btn-outline-secondary" href="/internal/stock/{{ company['COMPANY_PK'] }}">Ver mais</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
