{% extends "default_internal.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm">
                <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
        </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img alt="Imagem de capa do card" class="card-img-top" src="assets/img/contato.png">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                        <a class="btn btn-outline-secondary" href="#">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img alt="Imagem de capa do card" class="card-img-top" src="assets/img/contato.png">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                        <a class="btn btn-outline-secondary" href="#">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img alt="Imagem de capa do card" class="card-img-top" src="assets/img/contato.png">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                        <a class="btn btn-outline-secondary" href="#">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var trace1 = {
            x: [80],
            y: ['R$'],
            name: 'Carteira',
            orientation: 'h',
            marker: {
                color: 'rgba(55,128,191,0.6)',
                width: 1
            },
            type: 'bar'
        };

        var trace2 = {
            x: [20],
            y: ['R$'],
            name: 'Ativos',
            orientation: 'h',
            type: 'bar',
            marker: {
                color: 'rgba(255,153,51,0.6)',
                width: 1
            }
        };

        var data = [trace1, trace2];

        var layout = {
            title: 'Minha Carteira',
            barmode: 'stack'
        };

        Plotly.newPlot('myDiv', data, layout);
    </script>
{% endblock %}
