/**
 * Bootstrap overrides and improvements
 */

nav>* {
    text-transform: uppercase;
}

section {
    height: calc(100vh - 40vh);
}

footer {
    height: 40vh;
    color: #777;
}


/**
 * Theme specific classes
 */

.text-whiter {
    color: rgb(250, 250, 250);
}

.bg-darker {
    background: rgb(30, 30, 30);
}